
.galeria-p{
font-size: 50px;
display: flex;
justify-content: center;
color: yellowgreen;
}

.galeria {
   
    justify-content: center; // Centra el contenido horizontalmente
   margin: 40px auto;
    width: 90%;
  max-width: 1100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
  grid-template-rows: repeat( 4,360px);
  gap: 40px;
@media (max-width:1020px){
&{
    grid-template-rows: repeat( 6,360px);

}
}
@media (max-width:665px){
    &{
        grid-template-rows: repeat( 12,450px);

    }
    }
    img {
      width: 100%;
      height: 100%;
   filter: grayscale(100%);
      @include img-border(); 

    &:hover{
        transform: scale(0.9);

        transition: transform 0.9s ease-in-out;    
        filter: grayscale(0%);
        transition: filter 0.5s ease-in-out;

    }
    }   }

      textarea{
   display: flex;
   justify-content: center; /* Centrado horizontal */
  align-items: center;
 margin: 0 auto; 
    background-color: black;
    color: aliceblue;
    font-size: 22px;
    width: 400px;
    field-sizing: content;
    max-height: 180px;
    transition: height 0.5s;
   }

      button{
    display: flex;
   margin: 0 auto;
   margin-left:475px ;
  height: 25px;
  width: 60px;
  font-size: 15px;
padding-top: 3px;
margin-top: 3px;
      }