@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Oswald:wght@200..700&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body{
    background-image: url(../../multimedia/fondo.jpg);
    background-repeat: none;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    }
/* header */
.rounded-circle{
    height: 45px;
    width: 50px;
    }
    .logopao{
    height: 50px;
    width: 180px;
    margin-bottom: 0px;
}    
.navbar{
    background-color: #fbd1df;
    border: solid rgb(0, 4, 8) 1px;
}
.navbar-nav{
margin: 0 auto;
color: black;
font-weight: 600;
}
.nav-link{
    font-family:  "Roboto Slab", serif;
}
.nav-item{
    color: aliceblue;
margin-right: 60px;
 font-size:21px;
}
.nav-link:hover{
    color: rgb(0, 255, 170);
}
.logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  @media (max-width: 992px) {
    .navbar-brand {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    .navbar-toggler {
      order: 0;
      position: relative;
      top: 2px;
      left: -20px;
    }

  }
  @media(max-width:510px){
    .navbar-toggler {
        order: 1;
        position: relative;
        top: -5px;
        height: 15px;
        left: 35px;
      }
      .navbar-toggler {
        order: 0;
        position: relative;
        top: 2px;
        left: -50px;
       margin-bottom: 10px;
      }
  
  }
  @media(max-width:474px){
    .navbar-toggler {
      order: 0;
      position: relative;
      top: 2px;
      left: -80px;
    }

      .zorro{
        height: 250px;
        width: 90%;
        }
        .navbar-brand {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
          }

  }
  @media(max-width:560px){
    .logopao{
        height: 50px;
        width: 120px;
    }
  
  }
  @media(max-width:405px){
    .logopao{
        visibility: hidden;
    }
  }

/* header */
h1{
    display: flex;
    justify-content: center;
}
h2{
    color: rgb(216, 124, 170);
    display: flex;
    justify-content: center; 
}
.titulo2{
font-family:  "Roboto Slab", serif;
font-size: 29px;
margin-top: 35px;
text-shadow: black 1px 1px 1px;

}

.presentacion{
    background-image: url(../../multimedia/zorritofinal.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 230px;
    border: solid rgb(104, 71, 29) 1px;
}

.zorro{
height: 250px;
width: 100%;
}
.imagen-productos{
height: 290px;
width: 310px;
border: solid rgb(83, 49, 3) 3px;
}
.body {
    font-family: sans-serif;
  }
  

  .productos {
    position: relative;
    top: 20px;
    justify-content: center;
    margin: 40px auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 60px;
  }
  
  .producto {
    background-color: #f3b6d2;
    border: solid black 2px;
    text-align: center;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .imagen-productos {
    max-width: 100%;
    width: 320px;
    height:279px;
    display: block;
    margin: 0 auto 4px auto;
    margin-top: 4px;
  }
  
  .titulo-producto {
    color: rgb(121, 54, 23);
    text-shadow: rgb(253, 251, 251) 1px 1px 2px;
    font-family: "Noto Sans", sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin: 0;
  }
  
  .producto p {
    color: rgb(227, 241, 232);
    text-shadow: black 2px 1px 1px;
    font-size: 22px;
    font-weight: 700;
    background-color: rgb(247, 176, 176);
    margin: 10px 0 0 0;
    border: solid black 1px;
    padding: 5px;
  }
  
  .comprar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  button {
    background-color: rgb(233, 156, 129);
    color: rgb(221, 162, 206);
    padding: 1px 1px;
    font-size: 18px;
    font-weight: 700;
border: solid black 2px;
height: 45px;
position: relative;
top:78px;
left: -266px;
  }
  
  button a {
    text-decoration: none;
    color: rgb(243, 52, 141);
  }
  
  button a:hover {
    color: rgb(0, 0, 0);
  }


  @media (max-width: 768px) {
    .productos {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  
    .producto {
      padding: 10px;
    }
  
    .titulo-producto, .producto p {
      font-size: 20px;
    }
  
    button {
      top: 20px;
    position: relative;
   left: -270px;
   height: 50px;
 width: 120px;
    }
  }
  .titulo2-comprar {
    visibility: hidden;
      }
      .titulo2 {
        text-align: center;
        margin-top: 20px;
        font-size: 30px;
        margin-bottom: 50px;
      }
      .titulo1{

        position: relative;
        top: 80px;
        color: rgb(235, 235, 235);
        text-shadow: black 2px 2px 2px;
        font-family: "Oswald", sans-serif;
        font-size:55px;
        text-align: center;
        }
      
    
  
  @media (max-width: 480px) {
    .productos {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  
    .titulo-producto, .producto p {
      font-size: 18px;
    }
    .titulo2-comprar {
        visibility: hidden;
          }
        
        

          button {
            top: 20px;
          position: relative;
         left: -170px;
         height: 50px;
       width: 180px;
          }
          .titulo2 {
            text-align: center;
            margin-top: 20px;
            font-size: 29px;
            margin-bottom: 20px;
          }
          .titulo1{

            position: relative;
            top: 80px;
            color: rgb(235, 235, 235);
            text-shadow: black 2px 2px 2px;
            font-family: "Oswald", sans-serif;
            font-size:45px;
            text-align: center;
            }
          
  }
  @media (max-width: 478px) and (min-width: 398px) {
    .productos {
      grid-template-columns: 1fr;
    }
    .titulo2-comprar {
        visibility: hidden;
          }
        
          button {
            top: 20px;
          position: relative;
         left: -170px;
         height: 50px;
       width: 180px;
          }
  }
  @media (min-width: 339px) and (max-width: 426px) {
    button {
        top: 20px;
      position: relative;
     left: -147px;
     height: 50px;
   width: 180px;
      }

  }
  
  @media(max-width:338px){
    button {

        height: 45px;
        width: 210px;
        position: relative;
        top: 17px;
        left: -115px;
          }
            .titulo2-comprar {
visibility: hidden;
  }


  }
  @media(min-width:768px){
    .titulo2-comprar {
      visibility: visible;
      font-size: 22px;
      color: black;
      font-weight: 700;
      text-align: center;
      margin-top: 40px;
    }
    .titulo2 {
        text-align: center;
        margin-top: 20px;
        font-size: 32px;
        margin-bottom: 50px;
      }
      .titulo1{

        position: relative;
        top: 90px;
        color: rgb(235, 235, 235);
        text-shadow: black 2px 2px 2px;
        font-family: "Oswald", sans-serif;
        font-size:60px;
        }
  }